/*
  STYLES FOR
  BODY
  H1
  H2
  H3
  H5
  H6
  BUTTONS
  COLUMNS
  HOVER STYLES
  MODAL FIX (MOVEMENT)
*/

/* COMPONENTS */

body {
  max-width: 1920px;
  text-align: center;
  margin: auto;
  color: black;
  animation: 1.5s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-name: page;
}

h1 {
  font-family: gastromond, sans-serif;
  font-size: 4.4rem;
  text-align: left;
  margin-top: -0.5rem;
}

h2 {
  font-size: 3.1rem;
  font-family: futura-pt, sans-serif;
}

h3 {
  padding-bottom: 4rem;
  font-family: gastromond, sans-serif;
}

h5 {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  font-family: gastromond, sans-serif;
}

.d-block {
  width: 1920px;
  height: 598px;
}

h6 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 0 1rem 0;
}

.btn {
  background-color: black;
  font-size: 1.5rem;
  border-radius: 15px;
  color: #fff;
  transition: 500ms;
}

.react-link:hover,
.footer-icons:hover,
.btn:hover,
.nav-link:hover,
.dropdown-item:hover {
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    orange,
    red
  );
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
  transition: 250ms;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
}

.modal-open {
  padding: 0 !important;
  overflow-y: scroll;
}

/* @keyframes page {
  from {
    opacity: 0;
    background-color: #000;
  }
  to {
    opacity: 1;
  }
} */

@media screen and (max-width: 992px) {
  h1 {
    font-size: 3rem;
  }
}
