@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

/* COMPONENTS */

body {
  max-width: 1920px;
  text-align: center;
  margin: auto;
  color: black;
}

a {
  border: 5px solid white;
  border-radius: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0 1.3rem;
  color: black;
}

div#navbarNav {
  justify-content: flex-end;
}

a:hover {
  background-color: black;
  color: white;
  transition: 750ms;
  border: 5px solid black;
  border-radius: 1px;
}

a.dropdown-item:hover {
  background-color: black;
  padding: 0;
  margin: auto;
  color: white;
}

div#Navbar {
  text-align: end;
}

h1 {
  font-family: gastromond, sans-serif;
  /*"Orelega One", cursive;*/
  font-size: 4.4rem;
  text-align: left;
}

h2 {
  font-size: 3.1rem;
  font-family: futura-pt, sans-serif;
}

hr {
  padding: 3% 5%;
  border-top: 1px dotted rgba(0, 0, 0, 0.5);
  border-width: 20px;
  width: 1%;
}

/* NAVIGATION */

.navbar {
  max-width: 80%;
  padding: 0;
  margin: auto;
}

#nav-logo {
  height: 50%;
}

/* HEADER */

#header-img {
  width: 100%;
  padding-bottom: 4%;
}

#header-text {
  width: 55%;
  text-align: center;
  margin: auto;
  padding-bottom: 15rem;
}

/* SUBTITLE */

#subtitle {
  padding: 3% 5%;
}

#about {
  padding: 10% 5%;
}

/* ABOUT */

#placeholder_about {
  width: 100%;
}

#about {
  padding: 0;
  width: 82%;
  margin: auto;
}

.btn {
  background-color: black;
  font-size: 2rem;
  border-radius: 15px;
}

/* MANIFESTO */

#manifesto {
  padding-top: 10rem;
}
