#artists {
  width: 80%;
  margin: auto;
  padding: 3rem 0 6rem 0;
}

.header {
  text-align: center;
  margin-bottom: 8rem;
}

.artist-avatar {
  margin: 1rem auto 1rem;
  border: 1.5px solid black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* keep size of each card - no resizing*/
  justify-content: center;
}

.card {
  width: 236px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  margin: 2rem 2rem;
}
