#content {
  text-align: justify;

  padding: 0 5rem;
}

#foo {
  margin: 0;
}

.col-lg-4 {
  margin: 0;
}

.inner-class-row {
  text-align: start;
  margin: 100% 0;
}

#dollar-image {
  padding-bottom: 5rem;
}
