/* 
  STYLES FOR:
  HR (TEMPORARY - TILL CAROUSEL IS INCLUDED)
  SUBTITLE
  ABOUT
  MANIFESTO
  RECENT NEWS
  HIGHLIGHTS
*/

hr {
  padding: 3% 5%;
  border-top: 1px dotted rgba(0, 0, 0, 0.5);
  border-width: 20px;
  width: 1%;
}

/* SUBTITLE */

#subtitle {
  padding: 3% 5%;
}

/* ABOUT */

#about {
  padding: 10% 5%;
}

#placeholder_about {
  width: 100%;
}

#about {
  padding: 0;
  width: 82%;
  margin: auto;
}

#about-paragraph {
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
  line-height: 5rem;
}

/* MANIFESTO */

#manifesto {
  padding: 10rem 0;
}

#manifesto-row {
  width: 82%;
  text-align: justify;
}
.manifesto-content {
  padding: 0 2.5%;
}

/* RECENT NEWS */

#recent-news {
  padding: 0 0 10rem;
  width: 82%;
  margin: auto;
  text-align: left;
}

#recent-news-img {
  margin: 0;
  text-align: left;
  width: 100%;
}

#recent-news-hr {
  border-top: 2px solid rgba(0, 0, 0, 1);
  width: 97%;
  margin: 0;
  padding: 1rem;
}

.recent-news-paragraph {
  text-align: justify;
  padding: 0 2%;
  font-size: 0.9rem;
  margin: 0;
}

/* HIGHLIGHTS */

#highlights {
  padding: 0 0 10rem;
  width: 82%;
  margin: auto;
  text-align: left;
}

.highlight-content {
  text-align: justify;
  padding: 0 3% 0 0;
}
