/* 
  STYLES FOR:
  HR (TEMPORARY - TILL CAROUSEL IS INCLUDED)
  SUBTITLE
  ABOUT
  MANIFESTO
  RECENT NEWS
  HIGHLIGHTS
*/

#home {
  width: 80%;
  margin: auto;
}

hr {
  padding: 3rem 5%;
  border-top: 1px dotted rgba(0, 0, 0, 0.5);
  border-width: 20px;
  width: 1%;
}

/* SUBTITLE */

#subtitle-text {
  padding: 5rem 0 10rem;
  text-align: center;
  width: 60%;
  margin: auto;
}

/* ABOUT */

#about {
  padding: 3rem 0 6rem 0;
  margin: auto;
}

#placeholder_about {
  width: 100%;
}

#about-paragraph {
  text-align: left;
  line-height: 5rem;
}

/* MANIFESTO */

#manifesto {
  padding: 3rem 0 6rem 0;
}

#manifesto-row {
  text-align: justify;
}

/* RECENT NEWS */

#recent-news {
  padding: 3rem 0 6rem 0;
  margin: auto;
  text-align: left;
}

#recent-news-hr {
  border-top: 2px solid rgba(0, 0, 0, 1);
  width: 100%;
  margin: auto;
  padding: 1rem 0;
}

.recent-news-paragraph {
  text-align: justify;
  font-size: 0.9rem;
  margin: 0;
}

/* HIGHLIGHTS */

#highlights {
  padding: 2rem 0 6rem 0;
  margin: auto;
  text-align: left;
}

.highlight-content {
  text-align: justify;
}
