/*
  STYLES FOR
  NAVIGATION
  HEADER
  FOOTER
*/

/* NAVIGATION */

.nav-link,
.dropdown-item {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0 1.3rem;
  color: black;
}

#navbarNav {
  justify-content: flex-end;
}

.navbar {
  padding: 0;
  padding: 0.5rem 0;
  margin: auto;
  max-width: 1920px;
  background-color: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

#nav-logo {
  height: 50%;
  padding-left: 5%;
}

/* HEADER */

#header-img {
  width: 100%;
  padding-bottom: 4%;
}

#header-text {
  width: 60%;
  text-align: center;
  margin: auto;
  padding-bottom: 15rem;
}

/* FOOTER */

#footer {
  width: 80%;
  margin: auto;
  text-align: left;
  padding-bottom: 5rem;
}

#footer-logo {
  margin: 1rem 0;
}

.input {
  width: 60%;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  text-align: center;
}

label {
  font-size: 1.3rem;
}

li {
  list-style-type: none;
  text-align: left;
}

.footer-anchor {
  color: black;
}

.footer-anchor:hover {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 75ms;
}

.sm-icons {
  color: black;
  padding: 0.5rem 0.5rem;
}
