/*
  STYLES FOR
  NAVIGATION
  HEADER
  FOOTER
*/

/* NAVIGATION */

img#logo {
  padding: 0.5rem 0 0.5rem 2rem;
}

#navigation {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.nav-link {
  margin: 0 2rem;
  color: black;
}

.dropdown-item {
  font-size: 1.3rem;
  margin: 0 1rem;
}

#navbarNav {
  justify-content: flex-end;
}

.navbar {
  padding: 0;
  margin: auto;
  max-width: 1920px;
  background-color: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

/* HEADER */

#header-img {
  width: 100%;
  padding-bottom: 4%;
}

/* FOOTER */

#footer {
  text-align: left;
  padding-bottom: 3rem;
  width: 80%;
  margin: auto;
}

#logo {
  padding: 0 0 1rem 0;
}

.input {
  width: 50%;
  height: 3rem;
  border: 1px solid black;
  border-radius: 1rem;
  outline: none;
  text-align: center;
}

li {
  list-style-type: none;
}

.footer-link {
  color: black;
}

.footer-link:hover {
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 75ms;
}

.footer-icons {
  color: black;
  padding: 0.5rem 0.5rem;
}
