#news-section {
  width: 80%;
  margin: auto;
  text-align: left;
}

#recent-news-hr {
  margin: 3rem 0;
}

#recent-news-img {
  width: 35%;
  float: left;
  margin: 0 2rem 1rem 0;
}

@media screen and (max-width: 900px) {
  #news-section {
    width: 90%;
  }
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
